<footer class="page-footer font-small cor1 pt-4">


    <div class="container">

        <div class="row">

            <div class="col-md-12  d-flex justify-content-center">

                <h4 class="text-white"> Siga-nos nas redes sociais</h4>




            </div>

        </div>

        <div class="row">

            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">

                    <li>

                        <a href="https://www.instagram.com/_emesantana/" target="_blank" class="icoIntagram">
                        
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>

                    

                </ul>


            </div>

        </div>

    </div>

<div class= "footer-copyright cor2 text-white text-center py-3">
    <span class="text-light"> © 2021 Copyright:</span>
    <a class="text-light" target="_blank" href="https://github.com/EmersonSantana1994?tab=repositories"> </a>

</div>

</footer>
