<app-menu *ngIf='auth.logado()' ></app-menu>

<router-outlet></router-outlet>

<app-rodape *ngIf='auth.logado()'></app-rodape>



<!--<router-outlet></router-outlet>--->

<!----git checkout -b rotas-->

<!--<app-recuperarsenha></app-recuperarsenha>-->

<!--ng serve-->

<!--ng serve-->

<!--ng g c--> <!--não esquecendo que tem que po o nome da pasta depois do "c"-->

<!--ng g s--> 

<!--ng g s service/alertas-->  <!--criaou o alertas,service.ts dentro da pasta servece-->

<!--ng g c edit/tema-edit--> <!--criaou uma pasta com os componentes dentro da pasta edit-->